<html lang="en">

  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>The Kings Mile</title>
    {{! faux css template }}
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>

  <body>
    <div class="wrapper">
      <header>
        <h1>
          The Kings Mile
        </h1>
        <nav>
          {{#if loggedIn}}
            <a href="/dashboard">Home</a>
            <button id="logout" class="btn-no-style">Logout</button>
          {{else}}
            <a href="/login">login</a>
            <a href="/signup">signup</a>
          {{/if}}
        </nav>
      </header>
      <main class="main">
        {{{body}}}
      </main>
      <footer>
        “The scariest moment is always just before you start.” ― Stephen King
      </footer>
    </div>
    {{#if loggedIn}}
      <script src="/javascript/logout.js"></script>
    {{/if}}
  </body>

</html>