<html lang="en">

  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>The Kings Mile</title>

    <link rel="stylesheet" href="/stylesheets/style.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Splash&display=swap" rel="stylesheet">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Albert+Sans:wght@300&display=swap" rel="stylesheet">
  </head>

  <body>
    <div class="wrapper">
      <header>
        <h1>
          <a href="/">The Kings Mile</a> 
        </h1>
        <nav> 
          <div>
          {{#if loggedIn}}
            {{!-- <button id = "home" class= "btn-no-style"> <a href="/dashboard">Home</a></button>
            <button id="logout" class="btn-no-style">Logout</button> --}}
          {{else}}
           {{!-- <button id = "login" class= "btn-no-style"><a href="/login">Login</a></button>
            <button id="signup" class="btn-no-style"><a href="/signup">Create Account</a></button> --}}
          {{/if}}
          </div> 
        </nav> 

      </header>
      <main class="main">
        {{{body}}}
      </main>
      <footer>
        “The scariest moment is always just before you start.” ― Stephen King
      </footer>
    </div>
    {{#if loggedIn}}
      <script src="/javascript/logout.js"></script>
    {{/if}}
  </body>

</html> 

{{!-- class="nav-bar" --}}


{{!-- 
<html lang="en">

  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>The Kings Mile</title> --}}
    {{! faux css template }}
    {{!-- <link rel="stylesheet" href="/stylesheets/style.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Splash&display=swap" rel="stylesheet">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Albert+Sans:wght@300&display=swap" rel="stylesheet">
  </head>

  <body>
    <div class="wrapper">
      <header>
        <h1>
          The Kings Mile
        </h1>
        <nav>
          {{#if loggedIn}}
            <a href="/dashboard">Home</a>
            <button id="logout" class="btn-no-style">Logout</button>
          {{else}}
            <a href="/login">login</a>
            <a href="/signup">signup</a>
          {{/if}}
        </nav>
      </header>
      <main class="main">
        {{{body}}}
      </main>
      <footer>
        “The scariest moment is always just before you start.” ― Stephen King
      </footer>
    </div>
    {{#if loggedIn}}
      <script src="/javascript/logout.js"></script>
    {{/if}}
  </body>

</html> --}}