<link rel="stylesheet" href="/stylesheets/homepage.css" />

<div class="col-lg-12 text-center">
  <h1 class="homepage-box text-center"></h1>
  <br />
  <br />
  <div class="container">
    <div class="card card-text">
      <div class="card-body home">
        <div class="card-header">
         
          <p class="message">
            Take a walk down the King's Mile. <br />A new community for Stephen King
            enthusiasts. <br /><br />
            <br />Come for the horror stay for the conversation. </p>

            <button type="submit" class= "btn-no-style"><a href="/login">Login</button>
        </div>
      </div>
    </div>
  </div>
</div>
