<div class="col-lg-12 text-center">
  <h1 class="francais text-center"></h1>
  <br />
  <br />
  <div class="container">
    <div class="card card-text">
      <div class="card-body home">
        <div class="card-header">
          <h1></h1>
          <p class="message">
            King was born in Portland, Maine, on September 21, 1947. His father,
            Donald Edwin King, was a merchant seaman[citation needed] who was
            born with the surname Pollock but changed it to King as an
            adult.[10][11][12] King's mother was Nellie Ruth King (née
            Pillsbury).[12] His parents were married in Scarborough, Maine on
            July 23, 1939.[13] Shortly afterwards, they lived with Donald's
            family in Chicago before moving to Croton-on-Hudson, New York.[14]
            King's parents returned to Maine towards the end of World War II,
            living in a modest house in Scarborough. When King was two, his
            father left the family. His mother raised him and his older brother
            David by herself, sometimes under great financial strain. They moved
            from Scarborough and depended on relatives in Chicago;
            Croton-on-Hudson; West De Pere, Wisconsin; Fort Wayne, Indiana;
            Malden, Massachusetts; and Stratford, Connecticut.[15][16] When King
            was 11, his family moved to Durham, Maine, where his mother cared
            for her parents until their deaths. She then became a caregiver in a
            local residential facility for the mentally challenged.[1] King was
            raised Methodist,[17][18] but lost his belief in organized religion
            while in high school. While no longer religious, he says he chooses
            to believe in the existence of God</p>
        </div>
        {{! <button class="startOrder btn-info addToCart text-center">Start Your Order!</button> }}
      </div>
    </div>
  </div>
</div>
{{! </div>
    </div> }}