<div class="book-list">
  {{! lists all the books, must remain wrapped in the #each }}
  {{!-- view is under partials in book-info --}}
    {{#each books}}
    <p>
      {{> book-info}}
    </p>
    {{/each}}
</div>