<section class="container">
  <div>
  <h2>Login in to see books from Steven King!</h2>
    <form class="login-form">
      <div>     
        <label for="email-login">Email:</label>
        <input type="text" id="email-login" placeholder="Your email address goes here!" />
    
        <label for="password-login">Password:</label>
        <input type="password" id="password-login" placeholder="Your password goes here!"/>
      </div>
      <div>
        <button type="submit" class= "btn-no-style">Login</button>
      </div>
    </form>
  </div>
</section>


<script src="/javascript/login.js"></script>

