{{!-- 
<link rel="stylesheet" href="/stylesheets/login.css" />

<section class="container">
  <div>
  <h2>Join the community to rate Steven King books and <br>
    connect with the other Constant Readers</h2>
    <form class="login-form">
      <div class="email-button">     
        <label for="email-login">Email:</label>
        <input type="text" id="email-login" placeholder="Your email address goes here!" />
      

        <label for="password-login">Password:</label>
        <input type="password" id="password-login" placeholder="Your password goes here!"/>
      </div>
      <div>
        <button type="submit" class= "btn-no-style">Login</button>
        <p class="p-seperation">or</p>
        <button type="submit" class= "btn-no-style">Create Account</button>
      </div>
    </form>
  </div>
</section> --}}


<script src="/javascript/login.js"></script>

<form class="login-form">
  <div>
    <label for="email-login">email:</label>
    <input type="text" id="email-login" />
  </div>
  <div>
    <label for="password-login">password:</label>
    <input type="password" id="password-login" />
  </div>
  <div>
    <button type="submit">login</button>
  </div>
</form>

<script src="/javascript/login.js"></script>