<link rel="stylesheet" href="/stylesheets/login.css" />
<script src="/javascript/login.js"></script>

<section class="container">
  <div>
  <h2>Join the community to rate Steven King books and <br>
    connect with the other Constant Readers</h2>
    <form class="login-form">
      <div class="email-button">     
        <label for="email-login">Email:</label>
        <input type="text" id="email-login" placeholder="Your email address goes here!" />
      

        <label for="password-login">Password:</label>
        <input type="password" id="password-login" placeholder="Your password goes here!"/>
      </div>
      <div>
        <button type="submit" class="login-again"><a href="/login">Login</button>
        <p class="p-seperation">or</p>
        <button type="submit" class="login-again"><a href="/signup">Create Account</button>
      </div>
    </form>
  </div>
</section>



<script src="/javascript/login.js"></script>