{{!-- <link rel="stylesheet" href="/stylesheets/signup.css" />
<script src="/javascript/signup.js"></script>

<form class="signup-form">
  <div class="email-button">
    <label for="username-signup">username:</label>
    <input type="text" id="username-signup" />
  </div>
  <div class="email-button">
    <label for="email-signup">email:</label>
    <input type="text" id="email-signup" />
  </div>
  <div class="email-button">
    <label for="password-signup">password:</label>
    <input type="password" id="password-signup" />
  </div>
  <div>
    <button type="submit" class= "btn-no-style">Create Account</button>
    <p class="p-seperation">Already have an account?</p>
    <button id = "login" class="login-again"><a href="/login">Login</a></button>
  </div>
</form> --}}






{{!-- old but works --}}

<link rel="stylesheet" href="/stylesheets/signup.css" />
<script src="/javascript/signup.js"></script>

<form class="signup-form">
  <div class="email-button">
    <label for="username-signup">Username:</label>
    <input type="text" id="username-signup" />
  </div>
  <div class="email-button">
    <label for="email-signup">Email:</label>
    <input type="text" id="email-signup" />
  </div>
  <div class="email-button">
    <label for="password-signup">Password:</label>
    <input type="password" id="password-signup" />
  </div>
  <div>
    <button type="submit" class= "login-again">Create Account</button>
    <p class="p-seperation">Already have an account?</p>
    <button id = "login" class="login-again"><a href="/login">Login</a></button>



 <script src="/javascript/signup.js"></script> 

