<form class="signup-form">
  <div>
    <label for="username-signup"><h5>Username:</h5></label>
    <input type="text" id="username-signup" />
  </div>
  <div>
    <label for="email-signup"><h5>Email:</h5></label>
    <input type="text" id="email-signup" />
  </div>
  <div>
    <label for="password-signup"><h5>Password:</h5></label>
    <input type="password" id="password-signup" />
  </div>
  <div>
    <button type="submit"><h5>Signup</h5></button>
  </div>
</form>

<script src="/javascript/signup.js"></script>