
  h2 {
    font-family:'Albert Sans', sans-serif;
    border-radius: 10px;
    text-align: center;

  }


.login-form {
    border: 3px solid #f1f1f1b2;
    border-radius: 10px;
    opacity: 90%;
    padding: 50px 50px;
  }
  
  .login-form input[type="text"],
  input[type="password"] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
    font-family:'Albert Sans', sans-serif;
    opacity: 0.6;
   
  }
  
  .login-form button {
    background-color: #0b0c0c;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
    text-align: center;
  }
  
  .login-form button:hover {
    opacity: 0.8;
  }
  
  .login-form .cancelbtn {
    width: auto;
    padding: 10px 18px;
    background-color: #f44336;
  }
  
  .login-form .container {
    padding: 16px;
  }
  
  .login-form span.psw {
    float: right;
    padding-top: 16px;
  }
  

  .email-button{
    font-family:'Albert Sans', sans-serif;
    font-size: large;
    font-weight: bold;
    color: rgb(100, 14, 14);
  }

  .login-again{
    font-family:'Albert Sans', sans-serif;
    font-size: large;
  }

  .p-seperation{
    font-family:'Albert Sans', sans-serif;
    text-align: center;
    padding: none;
    color: rgb(100, 14, 14);
    font-weight: bold;
  }

  /* Change styles for span and cancel button on extra small screens */
  @media screen and (max-width: 300px) {
    span.psw {
      display: block;
      float: none;
    }
    .cancelbtn {
      width: 100%; 
    }
  }



 