
body {
  background-image: url(../images/Steven_King-project.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: 10%;
  background-size: cover;
  font-family: "Sans Serif";
  /* min-height: 100vh; */
}

h1 {
  color: rgb(158, 42, 42);
  text-align: left;
  font-family: 'Splash', cursive;
  font-size: 4rem;
  display: block;
}

h2 {
  font-family: "Splash", cursive;
}

p {
  font-family:'Albert Sans', sans-serif;
  font-size: 20px;
  line-height: 30px;
}

main {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
}

header {
  padding: 50;
}

a,
a:hover,
a:visited,
a:active {
  color: inherit;
  text-decoration: none;
}


#hd-single-card {
  flex-direction: row;
  margin: auto;
  height: 240px;
  width: 500px;
}


.btn-group {
  display: flex;
  justify-content: space-evenly;
}


  .nav-bar{
  display: flex; 
  justify-content: space-around;
  align-items: center;
  min-height: 8vh;
  text-align: right;
 } 

.btn-no-style{
  display:inline-block;
  padding:0.35em 1.2em;
  border:0.1em solid #FFFFFF;
  margin:0 0.3em 0.3em 0;
  border-radius:0.12em;
  box-sizing: border-box;
  text-decoration:none;
  font-family:'Albert Sans', sans-serif;
  font-weight:300;
  color:#0f0101;
  text-align:right;
  transition: all 0.2s;
  }

  .btn-no-style:hover{
  color:#000000;
  background-color:#FFFFFF;
  }



/* FOOTER START */
footer {
  width: 100%;
  padding: 40px 35px;
  color: rgb(138, 6, 6);
  position: fixed;
  text-align: center;
  font-style: italic;
 
}

footer {
  display: inline;
  font-size: 20px;
  margin: 0;
  text-shadow: 1px 1px 5px rgba(255, 255, 255, 0.815);
}

footer div {
  line-height: 1.5;
  text-align: center;
}
/* FOOTER END */
