body {
  background-image: url(../images/Steven_King-project.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: 10%;
  background-size: cover;
}

h1 {
  color: white;
  text-align: center;
}

p {
  font-family: verdana;
  font-size: 20px;
}

main{
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
}

.book-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin-top: 3rem;
}

.book{
  width: 240px;
  height: 406px;
  margin: 15px;
}

.hd-single-book {
  margin: 15px;
}

.card {
  background-color: rgb(179, 179, 179);
  opacity: 85%;
  box-shadow: 0 4px 8px 0 rgb(252, 159, 41);
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card:hover{
  opacity: 1;
  box-shadow: 0 4px 8px 0 red;
}

.card img {
  width: 150px;
  height: 200px;
  margin: .45rem;
}

#hd-single-card {
  flex-direction: row;
  margin: auto;
  height: 240px;
  width: 500px;
  
}

.comment-form {
  background-color: rgb(210, 210, 210);
  margin: auto
}

.comment-body {
  resize: none;
  background:url("..//images/Be-nice.jpg") center no-repeat;
  border-color: white;
  opacity: 55%;
  color: black;
  overflow: auto;
}

.btn-group {
  display: flex;
  justify-content: space-evenly;
}